:root {
  box-sizing: border-box;
  --clr-primary: hsl(31, 77%, 52%);
  --clr-secondary: hsl(184, 100%, 22%);
  --clr-tertiary: hsl(179, 100%, 13%);
  --clr-text: hsla(0, 0%, 100%, 0.75);
  --clr--background: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
p {
  margin: 0;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
  margin: 0;
  color: var(--clr-text);
  background: var(--clr--background);
}

//.flow > * + * {
// margin-top: var(--flow-space, 1.5em);
//}

.container {
  max-width: 920px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3em;
  color: #ffffff;

  &--1 {
    background: var(--clr-primary);
  }
  &--2 {
    background: var(--clr-secondary);
  }
  &--3 {
    background: var(--clr-tertiary);
  }
}

img {
  max-width: 4rem;
}

.heading-1 {
  padding: 0.6em 0;
  font-size: 2.5rem;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
}

.paragraph {
  line-height: 25px;
  margin-bottom: 1.5em;
}

.button-link {
  width: 9.25rem;
  text-align: center;
  padding: 0.8em 2em;
  text-decoration: none;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 100px;

  &--1 {
    color: var(--clr-primary);
  }
  &--2 {
    color: var(--clr-secondary);
  }
  &--3 {
    color: var(--clr-tertiary);
  }
}

.button-link:hover {
  color: #ffffff;
  background: transparent;
}

@media (min-width: 48em) {
  .container {
    display: flex;
    overflow: auto;
    margin: 10.6875rem auto;
    border-radius: 8px;
    min-height: 61.5vh;
  }
}
