:root {
  box-sizing: border-box;
  font-size: 1rem;
  --clr-primary: hsl(31, 77%, 52%);
  --clr-secondary: hsl(184, 100%, 22%);
  --clr-tertiary: hsl(179, 100%, 13%);
  --clr-text: hsla(0, 0%, 100%, 0.75);
  --clr--background: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
p {
  margin: 0;
}

body {
  font-family: "Lexend Deca", sans-serif;
  margin: 0;
  color: var(--clr-text);
  background: var(--clr--background);
}

//.flow > * + * {
// margin-top: var(--flow-space, 1.5em);
//}

.container {
  display: flex;
  justify-content: center;
}

.component {
  margin: 11% 1.5rem;
  border-radius: 8px;
  font-size: inherit;
  max-width: 57.5em;
  overflow: auto;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3em;
  font-size: 0.9375rem;
  color: #ffffff;

  &--1 {
    background: var(--clr-primary);
  }
  &--2 {
    background: var(--clr-secondary);
  }
  &--3 {
    background: var(--clr-tertiary);
  }
}

img {
  max-width: 4rem;
}

.heading-1 {
  padding: 0.6em 0;
  font-size: 2.5rem;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: var(--clr--background);
}

.paragraph {
  line-height: 25px;
  margin-bottom: 1.5em;
}

.button-link {
  width: 9.25rem;
  text-align: center;
  padding: 0.8em 2em;
  text-decoration: none;
  background: var(--clr--background);
  border: 2px solid var(--clr--background);
  border-radius: 100px;
  transition: all 0.2s;

  &--1 {
    color: var(--clr-primary);
  }
  &--2 {
    color: var(--clr-secondary);
  }
  &--3 {
    color: var(--clr-tertiary);
  }
}

.button-link:hover {
  color: var(--clr--background);
  background: transparent;
}

.attribution {
  color: #979797;
  font-size: 11px;
  text-align: center;
  margin-bottom: 2em;
}
.attribution a {
  color: #e38826;
}

@media (min-width: 50.625rem) {
  .component {
    display: flex;
    min-height: 61.5vh;
  }

  .content {
    margin-bottom: 1.3rem;
  }
}

@media (min-height: 50.8125rem) {
  .component {
    min-height: 31.25rem;
  }
}
